body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header{
     background-image: url('img/学校大门.png');
}
h1 {
    text-align: center;
    color: #333;
}

#postButton {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#postButton:hover {
    background-color: #45a049;
}

#postForm {
    display: none;
    margin-top: 20px;
}

#postForm form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#postForm form input,
#postForm form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#postForm form textarea {
    resize: vertical;
}

#postForm form button {
    padding: 10px;
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#postForm form button:hover {
    background-color: #45b1db;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.post {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.post-title,
.post-content {
    margin-bottom: 10px;
}

.timestamp {
    font-size: 14px;
    color: #888;
}

.reply {
    background-color: #eef2f7;
    border-left: 5px solid #007bff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.reply-timestamp {
    font-size: 12px;
    color: #888;
}

#pagination {
    text-align: center;
    margin-top: 20px;
}

#pagination button {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#pagination button.active {
    background-color: #007bff;
    color: white;
}

#pagination button:hover {
    background-color: #45a049;
}
/* styles.css */
.liked {
    color: #ff0000;
}

.disliked {
    color: #0000ff;
}

.like-animation {
    animation: likeEffect 0.5s ease-in-out;
}

.dislike-animation {
    animation: dislikeEffect 0.5s ease-in-out;
}

@keyframes likeEffect {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1.5); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes dislikeEffect {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1.5); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
